html{
    background-color: var(--background-color);
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: var(--black);
}

*::selection {
    background: var(--selection-color); /* WebKit/Blink Browsers */
}

html, body {
    overscroll-behavior-y: none;
}

.forceScrollable:after {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 100%;
    height: calc(100% + 10px);
    pointer-events: none;
}

.noScrollBar::-webkit-scrollbar {
    display: none;
}

.date{
    font-size: var(--small-font-size);
    font-family: "myCabin", sans-serif;
    color: var(--grey-color);
}

#mail{
    position: relative;
    top: 5px;
    right: 1px;
}

.socialIcon {
    margin: 0 6px;
}

.clickable:hover{
    cursor: pointer;
}
.hoverHighlight:hover{
    color: var(--accent-color);
    transition: color 100ms ease-in;
}

.friends a{
    display: inline-block;
    margin-right: 1em;
}

.friends p{
    margin-bottom: calc(var(--base-line-height) - 1em);
}

.cssTruncate {
    position: relative;
    overflow: hidden;
    max-height: calc(var(--base-line-height) * 2);
}

.cssTruncate::after {
    content: "";
    position: absolute;
    right: 0;
    top: var(--base-line-height);
    width: 160px;
    height: var(--base-line-height);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}