html{
    background-color: var(--background-color);
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: var(--black);
}

*::selection {
    background: var(--selection-color); /* WebKit/Blink Browsers */
}

html, body {
    overscroll-behavior-y: none;
}

.forceScrollable:after {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 100%;
    height: 101%;
    pointer-events: none;
}