
.musicplayer {
	position: absolute;
	width: 299px;
	bottom: var(--space-l);
	display: none;
}

@media(min-width: 992px) {
	.musicplayer {
		display: block;
	}
}

.amplitude-prev:hover, .amplitude-next:hover, .amplitude-play-pause:hover {
	color: var(--accent-color);
	transition: color 100ms ease-in;
}

.amplitude-song-played-progress{
	display: inline-flex;
	width: 72%;
	height: 8px;
	margin-right: 4%;
	appearance: none;
}

.amplitude-song-played-progress::-webkit-progress-bar{
	background-color: transparent;
	border: 1px solid var(--grey-color);
}

.amplitude-song-played-progress::-webkit-progress-value{
	background-color: var(--black);
}

.amplitude-prev, .amplitude-next, .amplitude-play-pause {
	display: inline-flex;
	text-align: center;
	vertical-align: -8%;
	width: 8%;
}

.amplitude-play-pause {
	vertical-align: -16%;
	position: relative;
	right: 1px;
}