@import './constants.css';

:root{
	/* Font families */
	--base-font-family: "LXGW", Serif;
	--bold-font-family: "LXGW-bold", Serif;
	--code-font-family: "inconsolata", Consolas, monospace, sans-serif;

	/* Font configuration */
	--base-font-size:   12pt;
	--small-font-size:  10pt;
	--big-font-size: 	14pt;
	--huge-font-size:	28pt;
	--base-line-height: 1.5em;

	/* Colors */
	--black: 			#394134;
	--white: 			#ffffff;
	--background-color: #F8F7F4;
	--accent-color:     var(--material-green);
	--selection-color:  #DCF1C6;
	--grey-color:       #b3b3b3;
}

@import './normalize.css';
@import './markdown.css';
@import './layout.css';
