@import './constants.css';

:root{
	/* Font families */
	--fallback-font-family: Helvetica, Arial, "Hiragino Sans GB", 
	"Hiragino Sans GB W3", "Microsoft JhengHei", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
	--base-font-family: "myCabin", var(--fallback-font-family);
	--code-font-family: "inconsolata", Consolas, monospace, sans-serif;

	/* Font configuration */
	--base-font-size:   10pt;
	--small-font-size:  9pt;
	--big-font-size: 	12pt;
	--huge-font-size:	22pt;
	--base-line-height: 1.75em;

	/* Colors */
	--black: 			#404040;
	--white: 			#ffffff;
	--background-color: #F8F7F4;
	--accent-color:     var(--material-green);
	--selection-color:  #DCF1C6;
	--grey-color:       #b3b3b3;
}

@import './normalize.css';
@import './markdown.css';
@import './musicplayer.css';
@import './layout.css';