html{
    background-color: var(--background-color);
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    color: var(--text);
}

*::selection {
    background: var(--selection-color); /* WebKit/Blink Browsers */
}

*::-webkit-scrollbar {
    display: none;
}

html, body {
    overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: myCabin, sans-serif;
}

hr.directory-hr {
    height: 16px;
    margin: 1em 0;
    background-image: url("../assets/three_dots_italic.svg");
    background-size: 64px 16px;
    background-position: left;
    background-repeat: no-repeat;
}

.forceScrollable:after {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 100%;
    height: calc(100% + 10px);
    pointer-events: none;
}

.altViewContent {
    box-sizing: border-box;
    padding-top: 72px;
    padding-bottom: 40px;
}

.noScrollBar::-webkit-scrollbar {
    display: none;
}

.post-title {
    color: #ffff7f;
    font-size: 18pt;
    font-weight: bold;
}

.date{
    font-size: var(--small-font-size);
    font-family: "myCabin", sans-serif;
    color: var(--grey-color);
}

#logo{
}

#mail{
    position: relative;
    top: 5px;
    right: 1px;
}

.socialIcon {
    margin: 0 6px;
}

.clickable:hover{
    cursor: pointer;
}
.hoverHighlight:hover{
    color: var(--accent-color);
    transition: color 100ms ease-in;
}

.friends a{
    display: inline-block;
    margin-right: 1em;
}

.friends p{
    margin-bottom: calc(var(--base-line-height) - 1em);
}

.cssTruncate {
    position: relative;
    overflow: hidden;
    max-height: calc(var(--base-line-height) * 2);
}

.cssTruncate::after {
    content: "";
    position: absolute;
    right: 0;
    top: var(--base-line-height);
    width: 160px;
    height: var(--base-line-height);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 75%);
}

.event-title-container {
    position: relative;
    font-family: "myCabin", sans-serif;
    background-color: rgba(255, 255, 0, 0.25);
    border: 2px solid rgba(255, 240, 0, 0.5);
    border-radius: 1px;
    /*color: #000000;*/
    margin-bottom: 12px;
    padding-left: 6px;
}

.event-title-text {
    font-size: calc(var(--base-font-size) - 1pt);
}

.event-title-time {
    font-size: var(--small-font-size);
    position: absolute;
    top: 0;
    right: 6px;
}

.expand-post-icon {
    display: inline-block;
    margin: 5px 6px 5px 0;
    cursor: pointer;
    padding: 0 calc(var(--base-line-height) * 0.5);
    border-radius: calc(var(--base-line-height) * 0.5);
    color: #000000;
    background-color: var(--text);
}

.timeline-collapsed-group {
    display: inline-block;
    vertical-align: middle;
}

.timeline-collapsed-group>.expand-post-icon {
}

.foldable {
    display: flex;
    flex-direction: row;
}

.left-fold-handle {
    flex: 0;
    cursor: pointer;
    flex-basis: 96px;
}

.right-fold-content {
    flex: 1;
}