.markdown{
	border: none
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown blockquote{
	margin-bottom: calc(var(--base-line-height) - 0.75em);
}

.markdown ul,
.markdown ol{
	padding-left: 2em;
}

.markdown blockquote{
	border: 1px solid #3a3a3a;
	border-left: 8px solid #9c27b0;
	font-family: Georgia, var(--base-font-family);
	font-size: var(--base-font-size);
	margin-left: 1em;
	padding: 0.5em 0.75em;
}

.markdown p:last-of-type{
	margin-bottom: 0;
}

.markdown hr{
	height: 16px;
	margin: 1.25em 0;
	/*background-color: var(--grey-color);*/
	background-image: url("../assets/six_dots_italic.svg");
	background-size: 128px 16px;
	background-position: center;
	background-repeat: no-repeat;
}

.markdown img{
	max-width: 100%;
}
.markdown a {
    /*color: var(--accent-color);*/
	text-decoration: underline var(--accent-color);
}

.markdown h1, h2, h3, h4, h5, h6 {
	color: #ffff7f;
}

.markdown h6{
	font-size: var(--small-font-size);
}
.markdown h5{
	font-size: var(--base-font-size);
}
.markdown h4{
	font-size: calc(var(--base-font-size) + 0.5pt);
}
.markdown h3{
	font-size: calc(var(--base-font-size) + 1pt);
}
.markdown h2{
	font-size: calc(var(--base-font-size) + 3pt);
}
.markdown h1{
	font-size: calc(var(--base-font-size) + 5pt);
}