@import 'constants.css';
@import 'normalize.css';
@import 'markdown.css';

:root{
	/* Font families */
	--base-font-family: "LXGW", Serif;
	--bold-font-family: "LXGW-bold", Serif;
	--code-font-family: "inconsolata", Consolas, monospace, sans-serif;

	/* Font configuration */
	--base-font-size:   12pt;
	--small-font-size:  10pt;
	--big-font-size: 	14pt;
	--huge-font-size:	28pt;
	--base-line-height: 1.5em;

	/* Colors */
	--black: #cacaca;
	--white: 			#ffffff;
	--background-color: #000000;
	--accent-color:     var(--material-green);
	--selection-color: #444e35;
	--grey-color: #737373;
	--note-yellow: #FFFAE5;
}
