
.tabs-outerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tabs-listContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 276px;
    margin-top: 80px;
}

.tabs-selectedPanel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 72px;
    right: 48px;
}

.tabs-button, .tabs-button a:visited {
    height: 92px;
    margin: auto;
    text-align: center;
    writing-mode: vertical-rl;
    /*border-left: 1px solid var(--text);*/
    cursor: pointer;
    color: #efefef;

}

/* style for visited tab */
.tabs-button.tabs-selectedButton, .tabs-button.tabs-selectedButton a:visited {
}

li.tabs-button:before {
    content: none;
}

.tabs-button::marker {
    display: none;
    content: ''
}