
.tabs-outerContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tabs-listContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 80px;
}

.tabs-selectedPanel {
    position: absolute;
    top: 72px;
    bottom: 40px;
    left: 72px;
    right: 48px;
}

.tabs-button {
    height: 92px;
    margin: auto;
    text-align: center;
    writing-mode: vertical-rl;
    border-left: 1px solid var(--text);
    cursor: pointer;
}

li.tabs-button:before {
    content: none;
}

.tabs-button.tabs-selectedButton, .tabs-button.tabs-selectedButton a:visited {
    color: var(--background-color);
    background-color: var(--text);
}

.tabs-button::marker {
    display: none;
    content: ''
}